## 1. Discuss string slicing and provide examples.

In [1]:
# String : String is a sequence of character where characters is a single unit of text which is helpful for representing and manupulating textual data in programming language.for example:

In [1]:
a = "Ishani"
a

'Ishani'

In [2]:
type(a)

str

In [2]:
# Extract\Slicing of string.

In [3]:
# String slicing in Python allows us to extract a portion of a string by specifying a start and end index. for example:

In [3]:
a = "ishani kundu"
a[5]

'i'

In [6]:
a = "I am a good student"
a[0:5]

'I am '

In [8]:
a[0:]

'I am a good student'

In [9]:
a[3:]

'm a good student'

In [10]:
a[:-3]

'I am a good stud'

In [12]:
a[-3:]

'ent'

In [4]:
# Range in slicing string: (skipping element)

In [13]:
a = "hello world"
a[0:5:1]

'hello'

In [14]:
a[0:5:2]

'hlo'

In [15]:
a[::1]

'hello world'

In [16]:
a[::2]

'hlowrd'

In [17]:
a[::-1] (reverse string)

'dlrow olleh'

In [18]:
len(a)

11

## 2. Explain the key features of lists in Python.

In [5]:
# List: are ordered collection of items.
# a = ["apple","banana","orange"]
# The important characteristics of Python lists are as follows:
# Lists are ordered.
# Lists can contain any arbitrary objects.
# List elements can be accessed by index.
# Lists can be nested to arbitrary depth.
# Lists are mutable.
# Lists are dynamic.

## 3.Describe how to access, modify, and delete elements in a list with examples.

In [6]:
# As we know lists are mutable, these are the few features with example:

In [2]:
shopping_list = ["apple","banana","orange","mango"]
shopping_list

['apple', 'banana', 'orange', 'mango']

In [3]:
type(shopping_list)

list

In [4]:
shopping_list[0]

'apple'

In [5]:
shopping_list[1:]

['banana', 'orange', 'mango']

In [6]:
shopping_list[1:4]

['banana', 'orange', 'mango']

In [7]:
shopping_list[0:3]

['apple', 'banana', 'orange']

In [ ]:
adding elements in the list:

In [9]:
shopping_list = ["apple","banana","orange","mango"]
shopping_list.append("grapes")
shopping_list

['apple', 'banana', 'orange', 'mango', 'grapes']

In [10]:
shopping_list = ["apple","banana","orange","mango"]
shopping_list.insert(2,"grapes")
shopping_list

['apple', 'banana', 'grapes', 'orange', 'mango']

In [ ]:
extend elements in the list.

In [14]:
list_1 = ["sun","moon"]
list_2 = ["rain","stars"]
list_1.extend(list_2)
list_1

['sun', 'moon', 'rain', 'stars']

In [15]:
list_2

['rain', 'stars']

In [ ]:
Concatenate:

In [13]:
list_1 = ["sun","moon"]
list_2 = ["rain","stars"]
list_1 + list_2

['sun', 'moon', 'rain', 'stars']

In [ ]:
Repeatation operation:
single element:

In [17]:
[0]*10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
list(range(10))*3

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

In [22]:
msg = 'you are beautiful\n'
print(msg*3)

you are beautiful
you are beautiful
you are beautiful

In [ ]:
membership in, not in:

In [24]:
shopping_list = ["apple","banana","orange","mango"]
"apple" in shopping_list

True

In [25]:
shopping_list = ["apple","banana","orange","mango"]
"apple"  not in shopping_list

False

In [ ]:
sorting list:

In [26]:
books = ["English","Math","science","Bengali"]
sorted(books)

['Bengali', 'English', 'Math', 'science']

In [28]:
books.index("science")

2

In [29]:
len(books)

4

In [40]:
book_list = ["English","Math","science","Bengali"]
book_list.remove("Math")
book_list

['English', 'science', 'Bengali']

In [48]:
book_list = ["English","Math","science","Bengali"]
del book_list
book_list

NameError: name 'book_list' is not defined

In [47]:
book_list = ["English","Math","science","Bengali"]
book_list.clear()
book_list

[]

In [49]:
book_list = ["English","Math","science","Bengali"]
book_list.pop()

'Bengali'

In [51]:
book_list.pop(2)

'science'

In [ ]:
list comprehension:

In [52]:
Price = [10,20,30,40,50]
[Price*2 for Price in Price]

[20, 40, 60, 80, 100]

In [53]:
names = ["ishani","puja","rimpa"]
[name.capitalize()for name in names]

['Ishani', 'Puja', 'Rimpa']

In [ ]:
Conditional list comprehension:

In [54]:
email_address = ["ik@gmail.com","pk@yahoo.com","rk@gmail.com","pr@yahoo.com"]
[email for email in email_address if email.endswith("@yahoo.com")]

['pk@yahoo.com', 'pr@yahoo.com']

In [ ]:
nested list comprehension:

In [59]:
Pairs = []
for x in [1,2,3]:
    for y in [4,5,6]:
        Pairs.append([x,y])
Pairs

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [63]:
[[x,y] for x in [1,2,3] for y in [4,5,6]]
Pairs

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [64]:
#list as stack and queue (optional learning), thus not explaining.

## 4.Compare and contrast tuples and lists with examples.

In [7]:
# Tuples are order collection of elements, they are heterogenous and tuples are immutable, where as Lists are also order of collection of elements, they are also heterogenous but list are mutable. thus, in tuples we cannot modify the data as we can in lists. Alos, tupes are represented like this: () and lists are represented like this:[]
# for example:

In [1]:
list = ["apple","mango","banana",]
list

['apple', 'mango', 'banana']

In [2]:
type(list)

list

In [3]:
list.append("orange")
list

['apple', 'mango', 'banana', 'orange']

In [4]:
t = ("ishnai","pwskills",1,2,3,True,4+5j)
t

('ishnai', 'pwskills', 1, 2, 3, True, (4+5j))

In [5]:
type(t)

tuple

In [6]:
t.append("orange")
t

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
t[0] = 100
t

TypeError: 'tuple' object does not support item assignment

## 5.Describe the key features of sets and provide examples of their use.

In [8]:
# Sets : are unoredred and unique collection of elements.
# The key features are :
# 1. sets does not allow duplicate elements.
# 2. sets are unordered collection of elements, thus indexing will not work.
# 3. sets are mutable.

In [8]:
s = {1,2,3,4,5,"ishani","ishani",2,2,5,6}
s

{1, 2, 3, 4, 5, 6, 'ishani'}

In [9]:
type(s)

set

## 6.Discuss the use cases of tuples and sets in Python programming.

In [ ]:
some of the use cases of set are:

In [7]:
list = [1,2,3,"apple","apple","orange"]
s =set(list)
s

{1, 2, 3, 'apple', 'orange'}

In [8]:
list = list(s)
list

TypeError: 'list' object is not callable

In [9]:
#we cannot create sets within a set.
#for example:

In [10]:
s = {1,2,3,4,5,{6,7,8}}
s

TypeError: unhashable type: 'set'

In [11]:
#set inside set must be immutable. thus,

In [12]:
s = {1,2,3,4,5,(6,7,8)}
s

{(6, 7, 8), 1, 2, 3, 4, 5}

In [13]:
#indexing is not possible in sets. for example:

In [14]:
s[0]

TypeError: 'set' object is not subscriptable

In [15]:
s[:2]

TypeError: 'set' object is not subscriptable

In [16]:
#but
for i in s:
    print(i)

1
2
3
4
5
(6, 7, 8)

In [17]:
#sets are mutuble:
s.add(100)
s

{(6, 7, 8), 1, 100, 2, 3, 4, 5}

In [19]:
s.pop()
s

{(6, 7, 8), 100, 2, 3, 4, 5}

In [22]:
s.remove(5)
s

{(6, 7, 8), 100, 2, 4}

In [23]:
#updation of sets:
s = {1,2,3,4,5,100}
s.update("Ajay")
s

{1, 100, 2, 3, 4, 5, 'A', 'a', 'j', 'y'}

In [24]:
#but if we do:
s = {1,2,3,4,5,100}
s.update(["Ajay"])
s

{1, 100, 2, 3, 4, 5, 'Ajay'}

In [25]:
#also, sets can have multiple tuples:
s = {(1,2,3),100,'2',3.4}
s

{(1, 2, 3), 100, '2', 3.4}

In [27]:
#sets operation:

In [33]:
s1 = {"hiking","reading","coding"}
s2 = {"travelling","coding","photography"}
s1|s2  #union

{'coding', 'hiking', 'photography', 'reading', 'travelling'}

In [34]:
s1 & s2 #intersection

{'coding'}

In [35]:
s1 - s2 #difference

{'hiking', 'reading'}

In [37]:
s1^s2 #symmetric

{'hiking', 'photography', 'reading', 'travelling'}

In [42]:
#frozen list #immutable version of sets.
my_fs = ([1,2,2,2,3,3,4,5])
my_fs.add(5)

AttributeError: 'list' object has no attribute 'add'

In [ ]:
some of the use cases of tuples are:

In [43]:
t = ("rain","moon",1,2,3,5.6,True,3+5j)
type(t)

tuple

In [44]:
t[0]

'rain'

In [45]:
t[-3]

5.6

In [46]:
t[2] = 100 #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [47]:
t.count(1)

2

In [48]:
t.count(-4)

0

In [49]:
t.index("moon")

1

In [50]:
print(t*2)

('rain', 'moon', 1, 2, 3, 5.6, True, (3+5j), 'rain', 'moon', 1, 2, 3, 5.6, True, (3+5j))

In [51]:
t[0:4]

('rain', 'moon', 1, 2)

In [52]:
t[::-1]

((3+5j), True, 5.6, 3, 2, 1, 'moon', 'rain')

In [53]:
for i in t:
    print(i, type(i))

rain <class 'str'>
moon <class 'str'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
5.6 <class 'float'>
True <class 'bool'>
(3+5j) <class 'complex'>

In [55]:
t1 = (100,200)
t2 = (300,400)
t3 = (t1,t2)
t3

((100, 200), (300, 400))

In [56]:
del t3
t3

NameError: name 't3' is not defined

In [57]:
len(t1)

2

In [58]:
100 in t1

True

In [59]:
500 in t2

False

In [60]:
200 not in t1

False

## 7.Describe how to add, modify, and delete items in a dictionary with examples.

In [61]:
d = {}
type(d)

dict

In [63]:
d = {"name":"ishani","email":"ik@gmail,com","contact":"1,2,3,4"}
d

{'name': 'ishani', 'email': 'ik@gmail,com', 'contact': '1,2,3,4'}

In [64]:
#adding items in a dictionary:

In [65]:
d["address"] = "kolkata"
d

{'name': 'ishani',
 'email': 'ik@gmail,com',
 'contact': '1,2,3,4',
 'address': 'kolkata'}

In [66]:
#modification in a dictionary:

In [67]:
d["name"] = "kundu"
d

{'name': 'kundu',
 'email': 'ik@gmail,com',
 'contact': '1,2,3,4',
 'address': 'kolkata'}

In [68]:
# deleting in a dictionary:

In [69]:
del d["contact"]
d

{'name': 'kundu', 'email': 'ik@gmail,com', 'address': 'kolkata'}

In [70]:
del d
d

NameError: name 'd' is not defined

In [74]:
d.clear()
d

NameError: name 'd' is not defined

## 8.Discuss the importance of dictionary keys being immutable and provide examples.

In [9]:
# Dictionary - is a data structure that stores data as key value pair.
# keys are unique and imutable.

In [1]:
d = {}
type(d)

dict

In [10]:
# Immutability is essential for keys because it ensures that the dictionary can efficiently look up values based on their keys. If a key was mutable, its hash value could change, making it impossible to find the associated value in the dictionary. 
# only strings and numbers can be used as a key of the dictionary.
# for example:

In [2]:
d1 = {"course":"data science"}
d.update(d1)
d

{'course': 'data science'}

In [5]:
#dictionary comprehension
#zip function
students = ["a","b","c"]
Marks = [ 80,95,100]
for i in zip(students,Marks):
    print(i)

('a', 80)
('b', 95)
('c', 100)

In [9]:
students = ["a","b","c"]
Marks = [ 80,95,100]
students_marks ={}
for student, mark1 in zip (students,Marks):
    students_marks[student] =Marks
students_marks

{'a': [80, 95, 100], 'b': [80, 95, 100], 'c': [80, 95, 100]}